.img-container {
    width: 100%;
    margin: auto;
    border-radius: 25px;
    margin-bottom: 40px;

    @media (max-width: $mobile-size) {
        margin-bottom: 20px;
    }
    

    &__text {
        position: absolute;
        color: white;
        margin: 0px;
        width: 100%;
        text-align: center;
        font-size: 48px;
        font-weight: 500;
        top: 50%;
        transform: translateY(-50%);

        @media (min-width: $mobile-size) and (max-width: $tablet-size) {
            font-size: 32px;
        }

        @media (max-width: $mobile-size) {
            width: 65%;
            text-align: start;
            font-size: 24px;
            left: 5%;
        }

    }

    &__image {
        width: 100%;
        border-radius: 25px;
        max-height: 220px;

        @media (max-width: $mobile-size) {
            min-height: 110px;
            border-radius: 10px;
        }
    }
}

.--home {
    display: flex;
    position: relative;
}

.--about {

    img {
        @media (max-width: $mobile-size) {
            height: 225px;
        }
    }
}