.cards-container {
    // display: flex;
    // justify-content: space-between;
    // flex-wrap: wrap;
    // row-gap: 50px;
    // padding: 50px;
    // background-color: #F6F6F6;
    // border-radius: 25px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 340px);
    gap: 60px 50px;
    justify-content: space-around;
    background-color: #F6F6F6;
    border-radius: 25px 25px 0px 0px;
    padding: 30px;
}