.carrousel {
    position: relative;
    width: 100%;

    &__left-arrow {
        position: absolute;
        left: 3%;
        top: 50%;
        transform: translate(0, -50%);

        @media (max-width: $mobile-size) {
            transform: translate(0, -50%) scale(0.3) ;
        }
    }

    &__right-arrow {
        position: absolute;
        right: 3%;
        top: 50%;
        transform: translate(0, -50%);

        @media (max-width: $mobile-size) {
            transform: translate(0, -50%) scale(0.3) ;
        }
    }

    &__image {
        width: 100%;
        height: 415px;
        border-radius: 15px;

        @media (max-width: $mobile-size) {
            height: 255px;
        }
    }

    &__image-number {
        position: absolute;
        left: 50%;
        top: 90%;
        color: white;
        font-weight: bold;

        @media (max-width: $mobile-size) {
            display: none;
        }
    }
}