.cards-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 340px);
    gap: 50px;
    justify-content: space-between;
    background-color: #F6F6F6;
    border-radius: 25px 25px 0px 0px;
    padding: 50px 50px;

    @media (min-width: 992px) {
        grid-template-columns: repeat(auto-fit, 31%);
        gap: 20px;
    }

    @media (min-width: 768px) and (max-width: 992px) {
        grid-template-columns: repeat(auto-fit, 48%);
        gap: 20px;
    }

    @media (max-width: 768px) {
        grid-template-columns: repeat(auto-fit, 100%);
        gap: 20px;
        background:none;
        padding: 0px;
    }
}