details[open] summary .fa-chevron-down {
    transform: rotate(-180deg);
}

.fa-chevron-down {
    transition: all 0.5s;
}

.collapse-container {
    margin-bottom: 30px;
    border-radius: 10px;


    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border-radius: 10px;
        background-color: #FF6060;
        color: white;
        transform: translateY(10px);
    }

    &__text__container {
        display: flex;
        align-items: center;
        padding: 30px 15px;
        border-radius: 10px;
        animation: collapse 4s ease-out forwards;
        font-size: 18px;
        font-weight: 300;
        line-height: 1.5em;
        background-color: #F6F6F6;
        overflow:hidden ;
        
    }
}

@keyframes collapse {
    
    to {
        height: 100%;
    }
}

