.collapse-container {
    margin-bottom: 25px;
    border-radius: 10px;
    background-color: #F6F6F6;
    overflow: hidden;


    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 40px;
        padding: 10px;
        border-radius: 10px;
        background-color: #FF6060;
        color: white;
        
        & p {
            margin: 0;
        }
    }

    &__text__container {
        display: flex;
        align-items: center;
        padding: 0px 15px;
        border-radius: 10px;
        overflow: hidden;
       
        & p {
            animation: collapse 0.3s ease-out forwards;
            background-color: #F6F6F6;
            font-size: 18px;
            font-weight: 300;
        }
    }
}

@keyframes collapse {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}