header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;

    @media (max-width: $mobile-size) {

        padding-bottom: 10px;

        .header__logo {
            max-width: 45%;
            object-fit: contain
        }
    }
}

.header__navigation {
    display: flex;

    &__liste {
        display: flex;
        justify-content: space-between;
        padding: 0px;
        width: 100%;

        @media (max-width: $mobile-size) {
            text-transform: uppercase;
        }
    }

    &__liste a {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: $mobile-size) {
            font-size: 10px;
        }

        li {
            padding: 0px 20px;
            font-size: 24px;

            @media (max-width: $mobile-size) {
                padding: 0px 10px;
                font-size: 12px;
            }
        }
    }
}


ul {
    list-style-type: none;
}

.nav-active {
    position: relative;
    animation: navigation 0.2s forwards;
    text-decoration: underline;

}

@keyframes navigation {
    0% {
        transfom: scale(1);
    }

    100% {
        transform: scale(1.2);
    }
}