.accommodation-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    
    @media (max-width: 768px) {
        flex-direction: column;
        padding-bottom: 0px;
    }

    &__informations {
        width: 100%;

        &__title {
            font-size: 36px;
            font-weight: 500;

            @media (max-width: 768px) {
                font-size: 18px;
            }
        }

        &__location {
            font-size: 18px;
            font-weight: 500;

            @media (max-width: 768px) {
                font-size: 14px;
            }
        }

        &__tags {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            width: 100%;
            gap: 4%;

            @media (max-width: 768px) {
                justify-content: flex-start;
                width: 100%;
                gap: 10px
            }

            span {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 5px 20px;
                margin-bottom: 10px;
                border-radius: 10px;
                font-size: 14px;
                background: rgb(255,97,97);
                color: white;

                @media (max-width: 768px) {
                    font-size: 10px;
                    padding: 3px 17px;
                    border-radius: 5px;
                    margin: 0;
                }
            }

        }

    }

    &__informations2 {

        @media (max-width: 768px) {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            width: 100%;
        }

        &__host {
            display: flex;
            align-items: center;

            &__name {
                width: 70%;
                margin-right: 5%;
                text-align: right;
                word-wrap: break-word;
                font-size: 18px;
                font-weight: 400;

                @media (max-width: 768px) {
                    font-size: 12px;
                }
            }

            &__picture {
                width: 64px;
                height: 64px;
                border-radius: 50%;

                @media (max-width: 768px) {
                    width: 32px;
                    height: 32px;   
                }
            }
        }

        &__rating {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            img {
                @media (max-width: 768px) {
                    width: 15px;
                    height: 15px;       
                }
            }
        }
    }
}

.accommodation-collapses {
    display: flex;
    justify-content: space-between;

    @media (max-width: 768px) {
        flex-direction: column;
    }
}